<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <h2 id="title">
        <!-- {{#link-to 'forum'}}Forum{{/link-to}}Forum -->
        <a class="navbar-brand" href="/">Forum</a>
      </h2>
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
